$color-background: #EDF2EC;
$color-nav-link: #010201;
$color-brand-first: #499A18;
$color-brand-second: #E06733;
$color-title: #717171;
$color-text: #636060;

$content-width: 1222px;
$tablet-width: 768px;
$mobile-width: 380px;