%transition {
  transition: 0.5s;
}

%font-first {
  font-family: 'Inter', sans-serif;
}

%font-second {
  font-family: 'Inika', serif;
}

%hamburger-line {
  display: inline-block;
  background-color: $color-title;
  height: 2px;
  width: 100%;
}