.search-container {
  display: flex;
}

.links__container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px 5px;
  background: $color-player;
  border-radius: 10px;
  opacity: 0;
  transition: .3s;
}

.links__opened {
  opacity: .9;
}

.links__title {
  font-size: 2.4rem;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}

.search-logo {
  width: 32px;
  height: 32px;
  background-image: url("../assets/svg/google_logo.svg");
  background-size: cover;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}

.yandex {
  background-image: url("../assets/svg/yandex_logo.svg");
}

.search-input {
  padding: 0 10px;
  margin: 0 10px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid  $color-light;
  background-color: transparent;
  color: $color-light;
  font-size: 2.4rem;
}

.links__item {
  display: flex;
  position: relative;
  padding: 5px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.links__item::before {
  position: relative;
  left: -5px;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url("../assets/svg/web_logo.svg");
  background-size: cover;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}

.chrome_tab::before {
  background-image: url("../assets/svg/chrome_logo.svg");
}

.apps::before {
  background-image: url("../assets/svg/apps_logo.svg");
}

.new-links {
  position: relative;
  align-self: flex-start;
  padding: 5px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.new-links::before {
  position: relative;
  display: inline-block;
  left: -5px;
  bottom: -3px;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url("../assets/svg/plus_logo.svg");
  background-size: cover;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}