html {
    scroll-behavior: smooth; 
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .header-container {
    border: 1px solid brown;
    background-color: #EDF2EC;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    height: 134px;
  }

  .logo {
    display: flex;
    align-items: center;
    color: #000000;
  }

  .logo-img {
    width: 20px;
    height: 20px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 42px 109px 42px 105px;    
    line-height: 1.127;
  }

  .nav {
    display: flex;
  }

  .nav-list {
    display: flex;
    flex-basis:content;
    align-items: center;
    border: none;
    padding: 0;
    /*line-height: 50px;*/
    list-style: none;
  }

  .nav-link {
    text-decoration: none;
    color: #010201;
    transition: color 0.5s;
  }
  
  .nav-link:hover {
    color: #E06733;
  }

  .nav-list .nav-item:not(:last-child) {
    padding: 0px 46px 0px 0;
  }

  .main-container {
    border: 1px solid steelblue;
  }
  
  .section {
    padding: 0 109px;
  }

  .section-welcome {
    display: flex;
  }

  .welcome-img {
    width: 448.8px;
    height: 407.36px;
  }
  
  .welcome {
    font-family: 'Inter', sans-serif;
    margin-left: 224.2px;
    align-self: center;
  }

  .footer-container {
    border: 1px solid yellowgreen;
  }