.switch__options {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  .checkbox {
    display: none;
  }
  .checkbox__lang {
    display: none;
  }
}

.slider__button {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-text;
  transition: .3s;
  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $color-light;
    transition: .3s;
  }
}

.checkbox:checked + .slider__button,
.checkbox__lang:checked + .slider__button {
  background-color: $color-player;
}

.checkbox:focus + .slider__button,
.checkbox__lang:focus + .slider__button {
  box-shadow: 0 0 1px $color-player;
}

.checkbox:checked + .slider__button:before,
.checkbox__lang:checked + .slider__button:before {
  transform: translateX(26px);
}

.slider__button {
  border-radius: 34px;
  &:before {
    border-radius: 50%;
  }
}