html {
  scroll-behavior: smooth;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
}

h1 {
  @include font(700, 4.5rem, 5.0rem, $color-title);
}

h2 {
  @extend %font-second;
  @include font(400, 4.0rem, 5.2rem, $color-brand-first);
}

h3 {
  @include font(700, 2.0rem, 2.0rem, $color-brand-second);
}

.subtitle {
  @include font(400, 2.0rem, 3.5rem, $color-text);
}