.button {
  padding: 11px 0;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 2.6rem;
  color: $color-brand-second;
  border: 1px solid $color-brand-second;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.welcome__button {
  padding: 12px 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #000000;;
  border: 2px solid $color-brand-second;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.price__button {
  padding: 11px 34px 11px 30px;
  margin-bottom: 39px;
  background: $color-light;
  @extend %font-second;
  @include font(700, 2.0rem, 2.6rem, $color-brand-second);
  border: 1px solid $color-brand-second;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.button_bordered:hover {
  background: $color-brand-second;
  color: $color-light;
}