.button {
  padding: 11px 0;
  @extend %font-second;
  @include font(400, 2.0rem, 2.6rem, $color-brand-second);
  background: $color-background;
  border: 1px solid $color-brand-second;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  @include media-mobile {
    padding: 6.5px 0;
    @include font(400, 1.5rem, 2.0rem, $color-brand-second);
  }
}

.welcome__button {
  padding: 12px 26px;
  @include font(400, 1.6rem, 1.6rem, $color-dark);
  background: $color-background;
  border: 2px solid $color-brand-second;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  @include media-mobile {
    padding: 6px 16px;
    @include font(400, 1.0rem, 1.8rem, $color-dark);
  }
}

.price__button {
  padding: 11px 34px 11px 30px;
  background: $color-light;
  @extend %font-second;
  @include font(700, 2.0rem, 2.6rem, $color-brand-second);
  border: 1px solid $color-brand-second;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  @include media-mobile {
    padding: 6.5px 23.8px;
    @include font(700, 1.5rem, 2.0rem, $color-brand-second);
  }
}

.button_bordered:hover {
  background: $color-brand-second;
  color: $color-light;
}

.button_active {
  background: $color-brand-second;
  color: $color-light;
}

.price-item-button {
  display: none;
  max-width: 86px;
  padding: 2.5px 20px;
  margin-top: 12px;
  @include font(700, 1.4rem, 2.0rem, $color-title);
  background: $color-light;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.price-item-button:hover {
  background: $color-brand-second;
  color: $color-light;
}

.call__button {
  margin-top: 18px;
  padding: 6px 44.86px;
  @extend %font-second;
  @include font(700, 1.0rem, 1.2rem, $color-title);
  background: $color-background;
  border: 1px solid $color-brand-second;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}