.hamburger {
  display: none;
  width: 40px;
  height: 26px;
  cursor: pointer;
  @include media-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
  }
}

.hamburger__line {
  @extend %hamburger-line;
}

.hamburger__opened {
  @include media-mobile{
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 37px;
    .line__hiden {
      display: none;
      }
  }
}

.hamburger__opened::before,
.hamburger__opened::after {
  @include media-mobile{
    display: block;
    position: relative;
    width: 100%;
    content: "";
    background-color: $color-brand-second;
    height: 4px;
    border-radius: 5px;
  }
}

.hamburger__opened::before {
	transform: rotate(45deg);
  top: 9px;
}

.hamburger__opened::after {
	transform: rotate(-45deg);
  top: 5px;
}