$color-light: #ffffff;
$color-active: #C5B358;
$color-player: #6165e7;
$color-title: #070c24;
$color-text: #606063;


$mobile-laptop: 930px;
$mobile-tablet: 815px;
$mobile-width: 580px;
$mobile-mini-width: 490px;
