.nav {
  flex-grow: 1;
  max-width: 452px;
  @include media-tablet {
    max-height: 47px;
  }
  @include media-mobile {
    display: none;
  }
}

.nav__opened {
  @include media-mobile {
    display: flex;
    justify-content: center;
    max-height: 27px;
    transition: left  0.3s ease 0s;
  }
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  @extend %font-second;
  @include font(400, 1.6rem, 5.0rem, $color-nav-link);
}

.nav-list-direction {
  @include media-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include font(400, 2.0rem, 4.5rem, $color-nav-link);
  }
}

.nav-item-undercrossed::after {
  @include media-mobile{
    display: block;
    position: relative;
    width: 100%;
    content: "";
    background-color: $color-brand-first;
    height: 1px;
  }
}

.nav-item {
  list-style: none;
  @include media-mobile {
    text-align: center;
  }
}

.nav-link,
.nav-link:active {
  text-decoration: none;
  color: $color-nav-link;
}

.nav-link:hover {
  font-weight: 700;
  color: $color-brand-second;
  transition: color 0.5s;
}