.prices {
  padding: 39px 0 115px;
}

.prices__column {
  align-items: flex-start;
}

.price {
  max-width: 332px;
  max-height: 391px;
}

.price-title {
  @extend %font-first;
  @include font(700, 4.0rem, 4.8rem, $color-dark);
  margin-bottom: 60px;
}

.price-text {
  line-height: 5.0rem;
  text-align: right;
  margin: 0 0 40px 0;
}

.price__items {
  padding: 33px 40px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.price-item {
  display: flex;
  justify-content: space-between;
  padding: 16px 40px;
  margin-bottom: 32px;
  @include font(700, 2.0rem, 2.0rem, $color-dark);
  background: $color-background;
  border-radius: 20px;
  @extend %transition;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    cursor: pointer;
    background: $color-form;
  }
}

.price-item-title {
  max-height: 18px;
}

.price__accordion_closed {
  width: 16px;
  height: 16px;
}

.price__content {
  display: flex;
  flex-direction: column;
  max-width: 452px;
  align-items: flex-end;
}

.price__leafs {
  display: flex;
  width: 152px;
  height: 175px;
  background-image: url(../assets/img/price/leafs_price.png);
  background-position: center;
  background-repeat: no-repeat;
}