.welcome {
    padding: 62px 0 62.64px 0;
}

.welcome__leafs {
    max-width: 448.8px;
}

.welcome__content {
    max-width: 549px;
}

.welcome-text {
    margin-bottom: 48px;
    padding-right: 23.56px;
}