.welcome {
  padding: 62px 0 62.64px 0;
}

.welcome__leafs {
  max-width: 448.8px;
  max-height: 407.36px;
}

.welcome__content {
  max-width: 549px;
  margin-top: 4px;
}

.welcome-title {
  margin-bottom: 44px;
}

.welcome-text {
  margin-bottom: 48px;
  max-width: 525.44px;
}