/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
.text {
  margin: 0;
}

.contact-item, .price-item, .link-footer {
  transition: 0.5s;
}

.price-title, body {
  font-family: "Inter", sans-serif;
}

.contacts-title, .nav-list, .logo__link, .price__button, .button, h2 {
  font-family: "Inika", serif;
}

.hamburger__line {
  position: absolute;
  display: inline-block;
  background-color: #717171;
  height: 2px;
  width: 100%;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.header,
.welcome,
.service,
.contacts {
  background: #EDF2EC;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5rem;
  color: #717171;
}
@media (max-width: 768px) {
  h1 {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 5rem;
    color: #717171;
  }
}
@media (max-width: 380px) {
  h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #717171;
  }
}

h2 {
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #499A18;
}
@media (max-width: 768px) {
  h2 {
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 4.6rem;
    color: #499A18;
  }
}
@media (max-width: 380px) {
  h2 {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.3rem;
    color: #499A18;
  }
}

h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: #E06733;
}

.text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.5rem;
  color: #636060;
}
@media (max-width: 380px) {
  .text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #636060;
  }
}

.font-colored-first {
  color: #499A18;
}

.font-colored-second {
  color: #E06733;
}

.button {
  padding: 11px 0;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
  color: #E06733;
  background: #EDF2EC;
  border: 1px solid #E06733;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
@media (max-width: 380px) {
  .button {
    padding: 6.5px 0;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #E06733;
  }
}

.welcome__button {
  padding: 12px 26px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #000000;
  background: #EDF2EC;
  border: 2px solid #E06733;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
@media (max-width: 380px) {
  .welcome__button {
    padding: 6px 16px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
    color: #000000;
  }
}

.price__button {
  padding: 11px 34px 11px 30px;
  background: #FFFFFF;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.6rem;
  color: #E06733;
  border: 1px solid #E06733;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
@media (max-width: 380px) {
  .price__button {
    padding: 6.5px 23.8px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #E06733;
  }
}

.button_bordered:hover {
  background: #E06733;
  color: #FFFFFF;
}

.hamburger {
  display: none;
  width: 40px;
  height: 26px;
  cursor: pointer;
}
@media (max-width: 665px) {
  .hamburger {
    display: block;
    position: relative;
    z-index: 2;
  }
}
@media (max-width: 380px) {
  .hamburger {
    display: block;
    position: relative;
    z-index: 2;
  }
}

.hamburger__line:nth-child(2) {
  transform: translateY(8px);
}

.hamburger__line:nth-child(3) {
  transform: translateY(16px);
}

.hamburger__line:nth-child(4) {
  transform: translateY(24px);
}

@media (max-width: 665px) {
  .hamburger__opened {
    display: block;
  }
  .hamburger__opened .line__hiden {
    opacity: 0;
  }
  .hamburger__opened .line__cross {
    width: 50%;
    height: 3px;
    border-radius: 5px;
    background-color: #E06733;
  }
  .hamburger__opened .line__cross:nth-child(1) {
    transform: translateX(10px) translateY(12px) rotate(45deg);
  }
  .hamburger__opened .line__cross:nth-child(4) {
    transform: translateX(10px) translateY(12px) rotate(-45deg);
  }
}
@media (max-width: 380px) {
  .hamburger__opened {
    display: block;
  }
  .hamburger__opened .line__hiden {
    opacity: 0;
  }
  .hamburger__opened .line__cross {
    width: 50%;
    height: 3px;
    border-radius: 5px;
    background-color: #E06733;
  }
  .hamburger__opened .line__cross:nth-child(1) {
    transform: translateX(10px) translateY(12px) rotate(45deg);
  }
  .hamburger__opened .line__cross:nth-child(4) {
    transform: translateX(10px) translateY(12px) rotate(-45deg);
  }
}

.wrapper {
  max-width: 1222px;
  margin: auto;
}
@media (max-width: 1322px) {
  .wrapper {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 50px;
  }
}
@media (max-width: 380px) {
  .wrapper {
    padding: 0 25px;
  }
}

.header {
  padding: 42px 0 42px 0;
}
@media (max-width: 768px) {
  .header {
    padding: 35px 0 35px 0;
  }
}
@media (max-width: 380px) {
  .header {
    padding: 34px 0 35px 0;
  }
}

@media (max-width: 665px) {
  .header__opened {
    height: 100vh;
    min-height: 400px;
    background-color: #FFFFFF;
    transition: background-color 1s;
    padding-bottom: 0;
  }
}
@media (max-width: 380px) {
  .header__opened {
    height: 100vh;
    min-height: 400px;
    background-color: #FFFFFF;
    transition: background-color 1s;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: baseline;
  padding-bottom: 3px;
}
@media (max-width: 665px) {
  .logo {
    padding: 2px 0 0 0;
    z-index: 2;
  }
}
@media (max-width: 380px) {
  .logo {
    padding: 2px 0 0 0;
    z-index: 2;
  }
}

.logo__vector {
  display: flex;
  max-height: 20px;
}

.logo__img {
  display: block;
}

.logo__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #000000;
  transition: color 0.5s;
}

.logo__link:hover {
  font-weight: 700;
  color: #E06733;
}

.layout-2-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.layout-2-column > * {
  flex-basis: 50%;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer {
  padding: 40px 0;
  font-weight: 400;
  font-size: 2rem;
  line-height: 5rem;
  color: #000000;
}
@media (max-width: 768px) {
  .footer {
    padding: 33px 0 27px 0;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #000000;
  }
}
@media (max-width: 380px) {
  .footer {
    padding: 22px 0 16px 0;
  }
}

.footer__column > * {
  flex-basis: 30%;
}
@media (max-width: 768px) {
  .footer__column {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .footer__column > * {
    width: 100%;
    align-self: center;
  }
}

.footer__data {
  display: flex;
  justify-content: space-between;
  max-width: 182px;
  padding-right: 13px;
}
@media (max-width: 768px) {
  .footer__data {
    margin-bottom: 16px;
    padding-right: 3px;
    max-width: 173px;
  }
}

.rss-text {
  max-width: 214px;
  padding-left: 4px;
}
@media (max-width: 895px) {
  .rss-text {
    max-width: 350px;
    flex-basis: 40%;
  }
}
@media (max-width: 768px) {
  .rss-text {
    max-width: 211px;
    margin-bottom: 25px;
    padding-left: 0px;
  }
}
@media (max-width: 380px) {
  .rss-text {
    margin-bottom: 12px;
  }
}

.link-footer {
  text-decoration: none;
  color: #000000;
}
.link-footer:visited {
  color: #000000;
}
.link-footer:hover {
  color: #E06733;
}

.social__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  max-width: 188px;
  list-style: none;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;
}

.inst {
  background-image: url(../assets/img/icons/inst.svg);
}

.fb {
  background-image: url(../assets/img/icons/fb.svg);
}

.tw {
  background-image: url(../assets/img/icons/tw.svg);
}

.pt {
  background-image: url(../assets/img/icons/pt.svg);
}

.welcome {
  padding: 62px 0 62.64px 0;
}
@media (max-width: 768px) {
  .welcome {
    padding: 40px 0 70px 0;
  }
}
@media (max-width: 380px) {
  .welcome {
    padding: 26px 0 24px 0;
  }
}

.welcome__leafs {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 448.8px;
  max-height: 407.36px;
}
@media (max-width: 768px) {
  .welcome__leafs {
    align-self: flex-start;
    order: 1;
    max-width: 280px;
  }
}
@media (max-width: 380px) {
  .welcome__leafs {
    display: none;
  }
}

.welcome__leafs-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome__content {
  max-width: 549px;
  margin-top: 4px;
}
@media (max-width: 768px) {
  .welcome__content {
    flex-basis: 55%;
    max-width: 346px;
    margin-top: 0px;
  }
}
@media (max-width: 665px) {
  .welcome__content {
    flex-basis: 100%;
    max-width: 549px;
  }
}
@media (max-width: 380px) {
  .welcome__content {
    flex-basis: 100%;
  }
}

.welcome-title {
  margin-bottom: 44px;
}
@media (max-width: 768px) {
  .welcome-title {
    margin-bottom: 31px;
  }
}
@media (max-width: 380px) {
  .welcome-title {
    margin-bottom: 20.36px;
  }
}

.welcome-text {
  margin-bottom: 48px;
  max-width: 525.44px;
}
@media (max-width: 768px) {
  .welcome-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #636060;
    margin-left: 5px;
    margin-bottom: 35px;
  }
}
@media (max-width: 380px) {
  .welcome-text {
    margin: 0 15.48px 25.65px 0;
  }
}

.about {
  padding: 93px 0 94px 0;
}
@media (max-width: 768px) {
  .about {
    padding: 40px 0 95px 0;
  }
}
@media (max-width: 380px) {
  .about {
    padding: 30px 0 26.55px 0;
  }
}

.about__column {
  align-items: flex-start;
}
@media (max-width: 768px) {
  .about__column {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .about__column > * {
    flex-basis: 100%;
  }
}

.about__content {
  padding-top: 68px;
}
@media (max-width: 768px) {
  .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    padding-top: 0;
    margin-bottom: 68px;
  }
}
@media (max-width: 380px) {
  .about__content {
    margin-bottom: 0.33px;
  }
}

.about-title {
  max-width: 463px;
  margin-bottom: 38px;
}
@media (max-width: 768px) {
  .about-title {
    max-width: 423px;
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 380px) {
  .about-title {
    margin-bottom: 13.29px;
  }
}

.about-text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: #636060;
}
@media (max-width: 768px) {
  .about-text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    color: #636060;
  }
}
@media (max-width: 380px) {
  .about-text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #636060;
  }
}

.about__houseplant {
  max-width: 464px;
}
@media (max-width: 768px) {
  .about__houseplant {
    max-width: 250px;
  }
}
@media (max-width: 380px) {
  .about__houseplant {
    max-width: 150px;
  }
}

.about__houseplant-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav {
  flex-grow: 1;
  max-width: 452px;
}
@media (max-width: 768px) {
  .nav {
    max-height: 47px;
  }
}
@media (max-width: 665px) {
  .nav {
    display: block;
    position: absolute;
    z-index: 0;
    top: -100%;
    left: 0;
    max-width: 665px;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    padding-top: 25px;
    transition: transform 0.5s;
    background-color: #FFFFFF;
    background-image: url(../assets/img/background/flower.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 665px) and (max-height: 400px) {
  .nav {
    background-color: #FFFFFF;
    background-image: none;
  }
}
@media (max-width: 665px) {
  .nav .nav-list {
    display: none;
  }
}
@media (max-width: 380px) {
  .nav {
    display: block;
    position: absolute;
    z-index: 0;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    padding-top: 25px;
    transition: transform 0.5s;
    background-color: #FFFFFF;
  }
  .nav .nav-list {
    display: none;
  }
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 5rem;
  color: #010201;
}

@media (max-width: 665px) {
  .nav__opened {
    transform: translateY(100%);
  }
  .nav__opened .nav-list {
    display: block;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 7rem;
    color: #010201;
  }
}
@media (max-width: 380px) {
  .nav__opened {
    transform: translateY(100%);
  }
  .nav__opened .nav-list {
    display: block;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 7rem;
    color: #010201;
  }
}

.nav-item {
  list-style: none;
}
@media (max-width: 665px) {
  .nav-item {
    text-align: center;
  }
}
@media (max-width: 380px) {
  .nav-item {
    text-align: center;
  }
}

.nav-link,
.nav-link:active {
  text-decoration: none;
  color: #010201;
}

.nav-link:hover {
  font-weight: 700;
  color: #E06733;
  transition: color 0.5s;
}

.service {
  padding: 40px 0 66px;
}
@media (max-width: 768px) {
  .service {
    padding: 60px 0 32px 0;
  }
}
@media (max-width: 380px) {
  .service {
    padding: 30px 0 27px 0;
  }
}

.service__content {
  max-width: 1007px;
  margin-bottom: 90px;
}
@media (max-width: 895px) {
  .service__content {
    margin-bottom: 40px;
  }
}
@media (max-width: 895px) {
  .service__content > * {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .service__content {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .service__content > * {
    flex-basis: 100%;
  }
}

.service-title {
  max-width: 306px;
  max-height: 94px;
}
@media (max-width: 380px) {
  .service-title {
    max-width: 187px;
  }
}

.service__buttons {
  display: flex;
  align-self: flex-start;
  margin-top: 29px;
  flex-grow: 1;
  max-width: 559px;
}
.service__buttons > * {
  flex-grow: 1;
  max-width: 161px;
}
@media (max-width: 665px) {
  .service__buttons > * {
    flex-basis: 48%;
    max-width: 121px;
    margin-bottom: 9px;
  }
}
@media (max-width: 380px) {
  .service__buttons > * {
    flex-basis: 48%;
    max-width: 121px;
    margin-bottom: 9px;
  }
}
@media (max-width: 380px) {
  .service__buttons > :last-child {
    margin-bottom: 0px;
  }
}
@media (max-width: 895px) {
  .service__buttons {
    margin-top: 42px;
  }
}
@media (max-width: 768px) {
  .service__buttons {
    margin-top: 42px;
  }
}
@media (max-width: 380px) {
  .service__buttons {
    margin-top: 38px;
    max-width: 252px;
    flex-wrap: wrap;
  }
}

.service__img {
  display: flex;
  max-width: 330px;
  max-height: 350px;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .service__img {
    max-width: 281px;
  }
}

.lawn_img {
  height: 350px;
  justify-content: center;
}

.service__img_full {
  display: block;
  align-self: center;
  width: 100%;
  height: 100%;
}

.item__content {
  align-self: stretch;
  padding: 10px 0 36px;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}
@media (max-width: 768px) {
  .item__content {
    padding: 9px 0 19px;
  }
}

.service__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .service__item {
    margin-bottom: 38px;
  }
}

.service-name {
  text-align: center;
  padding-bottom: 12px;
}
@media (max-width: 768px) {
  .service-name {
    padding-bottom: 10px;
  }
}

.service-description {
  text-align: center;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #717171;
}
@media (max-width: 768px) {
  .service-description {
    max-width: 201px;
    margin: auto;
  }
}

@media (max-width: 665px) {
  .services__column {
    flex-direction: column;
  }
}
@media (max-width: 665px) {
  .services__column > * {
    margin-bottom: 34px;
  }
}
@media (max-width: 665px) {
  .services__column > :last-child {
    margin-bottom: 0px;
  }
}
@media (max-width: 380px) {
  .services__column {
    flex-direction: column;
  }
}
@media (max-width: 380px) {
  .services__column > * {
    margin-bottom: 34px;
  }
}
@media (max-width: 380px) {
  .services__column > :last-child {
    margin-bottom: 0px;
  }
}

.prices {
  padding: 39px 0 115px;
}
@media (max-width: 768px) {
  .prices {
    padding: 40px 0 88px 0;
  }
}
@media (max-width: 380px) {
  .prices {
    padding: 25px 0 40px 0;
  }
}

.prices__column {
  align-items: flex-start;
}
@media (max-width: 665px) {
  .prices__column {
    align-items: center;
  }
}
@media (max-width: 665px) {
  .prices__column > * {
    flex-basis: 100%;
  }
}
@media (max-width: 380px) {
  .prices__column {
    align-items: center;
  }
}
@media (max-width: 380px) {
  .prices__column > * {
    flex-basis: 100%;
  }
}

.price {
  max-width: 332px;
  max-height: 391px;
}
@media (max-width: 665px) {
  .price {
    margin: auto;
  }
}
@media (max-width: 380px) {
  .price {
    max-width: 224px;
    margin: auto;
  }
}

.price-title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  color: #000000;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .price-title {
    padding-left: 15px;
    margin-bottom: 57px;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4.2rem;
    color: #000000;
  }
}
@media (max-width: 665px) {
  .price-title {
    padding-left: 0;
    margin-bottom: 37px;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4.2rem;
    color: #000000;
    text-align: center;
  }
}
@media (max-width: 380px) {
  .price-title {
    padding-left: 0;
    margin-bottom: 37px;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #000000;
    text-align: center;
  }
}

.price-text {
  line-height: 5rem;
  text-align: right;
  margin: 0 0 40px 0;
}
@media (max-width: 768px) {
  .price-text {
    margin: 99px 0 29px 0;
    padding-left: 0;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #000000;
  }
}
@media (max-width: 665px) {
  .price-text {
    margin: 19.75px 0 20px 0;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #000000;
    text-align: center;
  }
}
@media (max-width: 380px) {
  .price-text {
    margin: 19.75px 0 20px 0;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.5rem;
    color: #000000;
    text-align: center;
  }
}

.price__items {
  padding: 33px 40px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
@media (max-width: 380px) {
  .price__items {
    padding: 28px 21px;
  }
}

.price-item {
  display: flex;
  justify-content: space-between;
  padding: 16px 40px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: #000000;
  background: #EDF2EC;
  border-radius: 20px;
}
.price-item:last-child {
  margin-bottom: 0;
}
.price-item:hover {
  cursor: pointer;
  background: #D6E7D2;
}
@media (max-width: 380px) {
  .price-item {
    align-items: flex-end;
    padding: 15.91px 40px 15.91px 30px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #000000;
    margin-bottom: 13.92px;
  }
}

.price-item-title {
  max-height: 18px;
}

.price__accordion_closed {
  width: 16px;
  height: 16px;
}

.price__content {
  display: flex;
  flex-direction: column;
  max-width: 452px;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .price__content {
    max-width: 296px;
  }
}
@media (max-width: 665px) {
  .price__content {
    margin: auto;
    align-items: center;
  }
}
@media (max-width: 380px) {
  .price__content {
    max-width: 230px;
    margin: auto;
    align-items: center;
  }
}

.price__leafs {
  display: flex;
  width: 152px;
  height: 175px;
  margin-top: 39px;
  background-image: url(../assets/img/price/leafs_price.png);
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .price__leafs {
    margin-top: 34px;
  }
}
@media (max-width: 380px) {
  .price__leafs {
    display: none;
  }
}

.contacts {
  padding-top: 53px;
}
@media (max-width: 1200px) {
  .contacts {
    padding-top: 40px;
  }
}
@media (max-width: 768px) {
  .contacts {
    padding-top: 40px;
  }
}
@media (max-width: 380px) {
  .contacts {
    padding-top: 25px;
    padding-right: 4px;
  }
}

.contact__woman {
  max-width: 400px;
}
@media (max-width: 1200px) {
  .contact__woman {
    order: 3;
    max-width: 300px;
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .contact__woman {
    order: 3;
    max-width: 200px;
    margin-left: 20px;
  }
}
@media (max-width: 380px) {
  .contact__woman {
    max-width: 100px;
    margin-left: 0;
  }
}

.contact__woman_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts-title {
  max-width: 195.51px;
  align-self: flex-start;
  margin-left: 45px;
  margin-top: 7px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #499A18;
}
@media (max-width: 1200px) {
  .contacts-title {
    margin: 0 0 100px 0;
  }
}
@media (max-width: 768px) {
  .contacts-title {
    margin: 0 0 100px 0;
    max-width: 100%;
  }
}
@media (max-width: 380px) {
  .contacts-title {
    margin: 0 0 81px 0;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.3rem;
    color: #499A18;
    text-align: center;
  }
}

.contact-item {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  margin-top: 95px;
  flex-grow: 1;
  max-width: 450px;
  padding: 5px 35px 5px 20px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}
.contact-item:hover {
  cursor: pointer;
  background: #C1E698;
}
@media (max-width: 1200px) {
  .contact-item {
    order: 1;
    margin: 0 0 120px 0;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact-item {
    order: 1;
    margin: 0 0 248.5px 0;
    width: 100%;
  }
}
@media (max-width: 380px) {
  .contact-item {
    padding: 5px 20px 5px 20px;
    max-width: 300px;
    margin: 0 0 131.75px 0;
  }
}

.contact-item-title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  color: #717171;
  letter-spacing: 0.05em;
}

@media (max-width: 1200px) {
  .contacts__column {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .contacts__column > * {
    align-self: center;
  }
}
@media (max-width: 768px) {
  .contacts__column {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .contacts__column > * {
    align-self: center;
  }
}

/*# sourceMappingURL=style.css.map */
