.layout-2-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >* {
        flex-basis: 50%;
    }
}

.layout-3-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >* {
        flex-basis: 33%;
    }
}