.header {
  padding: 42px 0 42px 0;
  @include media-tablet {
    padding: 35px 0 35px 0;
  }
  @include media-mobile {
    padding: 36px 0 36px 0;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  max-width: 79.17px;
  padding-bottom: 3px;
  padding-left: 2px;
  @include media-mobile {
    display: block;
    max-width: 77px;
    padding: 0;
  }
}